@font-face {
	font-family: "Open Sans";
	src: url("/fonts/OpenSans/OpenSans-Light.ttf");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: "Open Sans";
	src: url("/fonts/OpenSans/OpenSans-LightItalic.ttf");
	font-style: italic;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: "Open Sans";
	src: url("/fonts/OpenSans/OpenSans-Regular.ttf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Open Sans";
	src: url("/fonts/OpenSans/OpenSans-SemiBold.ttf");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: "Open Sans";
	src: url("/fonts/OpenSans/OpenSans-Bold.ttf");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Corinthia";
	src: url("/fonts/Corinthia/Corinthia.ttf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
