@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

button:focus {
  outline: none;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
}

.embla__container-catalog_items-1 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
}

.embla__container-catalog_items-2 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
}

.embla__container-catalog_items-3 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 33%;
}

.embla__container-catalog_items-4 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 22%;
}

.embla__container-discount-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
}

.embla__container-discount-grid-catalog {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
/* React dropdown select не умееют перезаписывать стили контейнеров приходится делать через глобальные стили и !important
   !TODO перейти на собственный select */
.react-dropdown-select-dropdown {
  box-shadow: none !important;
  border: none !important;
  border-radius: 0.375rem !important;
}

.react-dropdown-select {
  box-shadow: none !important;
  border: none !important;
  border-radius: 0.375rem !important;
  padding: 0.5rem 1rem !important;
}

/* css for pagination buttons */

.paginationBtns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBtns a {
  padding: 8px;
  margin: 4px;
  border-radius: 5px;
  border: 1px solid #0655a2;
  color: #0655a2;
  cursor: pointer;
  outline: none;
}

.paginationBtns a:hover {
  color: white;
  background-color: #0655a2;
}

.paginationActive a {
  color: white;
  background-color: #0655a2;
}

/* css for price double range slider */

input[type='range'] {
  --minRangePercent: 0%;
  --maxRangePercent: 0%;
  height: 0.4rem;
}
input[type='range']:invalid {
  box-shadow: none;
}

.min-max-slider {
  position: relative;
  width: 200px;
  text-align: center;
  margin-bottom: 50px;
}

.min-max-slider::focus {
  outline: none;
}

input::focus {
  outline: none;
}

.min-max-slider > label {
  display: none;
}

.min-max-slider > input {
  cursor: pointer;
  position: absolute;
}

/* webkit specific styling */
.min-max-slider > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none !important;
  background: transparent;
}
.min-max-slider > input.min {
  background-image: linear-gradient(to right, silver 0%, silver var(--minRangePercent), white var(--minRangePercent), white 100%);
}

.min-max-slider > input.max {
  background-image: linear-gradient(to right, white 0%, white var(--maxRangePercent), silver var(--maxRangePercent), silver 100%);
}

.min-max-slider > input::-webkit-slider-runnable-track,
.min-max-slider > input::-moz-range-track,
.min-max-slider > input::-ms-track {
  box-sizing: border-box;
  border: none;
  height: 4px;
  background: white;
  border-radius: 8px;
  height: 10px;
  background-color: transparent;
  background-image: linear-gradient(white, white), linear-gradient(white, white);
  background-size: var(--sx) 10px, calc(100% - var(--sx)) 4px;
  background-position: left center, right center;
  background-repeat: no-repeat;
}

.min-max-slider > input::focus {
  outline: none;
}

.min-max-slider > input.max::-moz-range-progress {
  background: white;
  border-radius: 4px;
}

.min-max-slider > input.min::-moz-range-progress {
  height: 0.6em;
  background: silver;
  border-radius: 4px;
}

input[type='range']::-webkit-slider-thumb,
input[type='range']::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
  -moz-appearance: none;
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: none;
  color: 1px solid white;
  border-radius: 50%;
  /* box-shadow: -205px 0 0 200px hsl(100, 100%, 40%); */
}

.min-max-slider > input::-webkit-slider-runnable-track {
  cursor: pointer;
}
